body {
  margin: 8px;
  padding: 8px;
  display: block;
  max-width: 1300px;
}

.content {
  max-width: 500px;
  margin: auto;
}

#mainHeading {
  color: red;
}
#testP {
  font-weight: bold;
}
.funParagraph {
  color: green;
}
